* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}
.nav__logo {
    width: 100px;
}
.logo {
    width: 100%;
}
.button1 {
    background-image: linear-gradient(
        to right,#ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border:none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
    margin-top: 10px;
}
.button1:hover {
    border: 2px solid #000;
    cursor: pointer;
}
.container {
    margin:4%;
}
.hero__container {
    width: 100%;
}
.hero__image {
width: 100%;
border-radius: 10px;
box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}
.text1 {
    font-weight: 800;
    font-size:22px;
    margin: 20px 0;
    color: #1D3557;
}
.explore__menu{
    width: 100%;
}
.menu__cards__ {
    width: 100%;
}
